<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common::head"></head>
<body>
<div class="container-fluid">
    <header th:replace="fragments/common::navbar"></header>
    <main>
        <hr class="my-2"/>
        <div class="text-center mt-3">
            <a href="/users/profile" th:text="|Welcome, ${loggedInUsername}!|" class="h4 text-info">Welcome,
                $(username)</a>
        </div>
        <hr class="my-4">
        <div class="container">
            <div
                    th:each="user : ${users}"
                    th:object="${user}"
                    class="row mb-4 d-flex justify-content-around">
                <div class="col-md-2 d-flex flex-column text-center">
                    <img
                            th:src="*{imageUrl}" class="img-thumbnail" width="200" height="200">
                    <h5
                            th:text="*{username}"
                            class="text-center">Pesho</h5>
                    <a href="/users/friends/add?name=Pesho" class="btn btn-info">Add Friend</a>
                </div>
                <!--                <div class="col-md-2 d-flex flex-column text-center">-->
                <!--                    <img src="png/female.png" class="img-thumbnail" width="200" height="200">-->
                <!--                    <h5 class="text-center">Tuhlichka</h5>-->
                <!--                    <a href="/users/friends/add?name=Tuhlichka" class="btn btn-info">Add Friend</a>-->
                <!--                </div>-->
                <!--                <div class="col-md-2 d-flex flex-column text-center">-->
                <!--                    <img src="png/male.png" class="img-thumbnail" width="200" height="200">-->
                <!--                    <h5 class="text-center">Sasho</h5>-->
                <!--                    <a href="/users/friends/add?name=Sasho" class="btn btn-info">Add Friend</a>-->
                <!--                </div>-->
                <!--                <div class="col-md-2 d-flex flex-column text-center">-->
                <!--                    <img src="png/female.png" class="img-thumbnail" width="200" height="200">-->
                <!--                    <h5 class="text-center">Keremidka</h5>-->
                <!--                    <a href="/users/friends/add?name=Keremidka" class="btn btn-info">Add Friend</a>-->
                <!--                </div>-->
                <!--            </div>-->
                <!--            <div class="row mb-4 d-flex justify-content-around">-->
                <!--                <div class="col-md-2 d-flex flex-column text-center">-->
                <!--                    <img src="png/male.png" class="img-thumbnail" width="200" height="200">-->
                <!--                    <h5 class="text-center">Toncho</h5>-->
                <!--                    <a href="/users/friends/add?name=Toncho" class="btn btn-info">Add Friend</a>-->
                <!--                </div>-->
            </div>
        </div>
        <hr class="my-3">
    </main>
    <footer th:replace="fragments/common::footer" class="footer py-3"></footer>
</div>
</body>
</html>