<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common::head"></head>
<body>
<div class="container-fluid">
    <header th:replace="fragments/common::navbar"></header>
    <main>
        <hr class="my-2"/>
        <div class="text-center mt-3">
            <a th:href="@{/users/profile/}" th:text="|Welcome, ${loggedInUsername}!|" class="h4 text-info">Welcome,
                $(username)</a>
        </div>
        <hr class="my-4">
        <div class="container">
            <div
                    class="row mb-4 d-flex justify-content-around">
                <div
                        th:each="user : ${users}"
                        th:object="${user}"
                        class="col-md-2 d-flex flex-column text-center">
                    <img th:src="*{imageUrl}" class="img-thumbnail" width="200" height="200">

                    <a th:href="@{/users/profile/{id}(id=*{id})}"
                       th:text="*{username}"
                       class="h5 text-info">Pesho</a>
                    <a th:href="@{/friends/add/{id}(id=*{id})}" class="btn btn-info">Add Friend</a>

            </div>
        </div>
        <hr class="my-3">
    </main>
    <footer th:replace="fragments/common::footer" class="footer py-3"></footer>
</div>
</body>
</html>